.container{
    display: flex;

}

.container div{
    width: 50%;
    height: 100vh;
    border: 1px solid black;
}


.container .form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.container .compaint{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

