.container{
    display: flex;
    justify-content:center;
    width: 90%;
    margin: auto;
    
}

.container div{
    display: flex;
    width: 45%;
    height: 70vh;
    justify-content: center;
    align-items: center;

}

.container div img{
    width: 80%;

}