.complaintContainer{
    width: 90%;
    background-color: #fff;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2rem;
    margin-top: 1rem;
}

.complaintContainer .cards{
    transition: 0.5s ease-in;
    opacity: 0.5;
}

.complaintContainer .cards:hover{
    opacity: 1;
    
}